.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
}

.loginBox {
  width: 100%;
  max-width: 400px;
  padding: 3rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: var(--shadow-md);
  text-align: center;
}

.logo {
  height: 60px;
  margin-bottom: 1rem;
}

.loginBox h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.loginBox p {
  color: var(--text-secondary);
  margin-bottom: 2rem;
}

.inputGroup {
  text-align: left;
  margin-bottom: 1.5rem;
}

.inputGroup label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.inputGroup input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  font-size: 1rem;
}

.inputGroup input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.loginButton {
  width: 100%;
  padding: 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
}

.loginButton:hover {
  background-color: var(--primary-hover);
}

.loginButton:disabled {
  background-color: #A5B4FC;
  cursor: not-allowed;
}

.error {
    color: #EF4444;
    font-size: 0.9rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
}